body {
    background-color: black;
    margin: auto;
    background-image: url(images/allbg.jpg);
    background-size: cover;
}
.darkModeToggle, .modelToggle, .credentialsChange {
    width: 4rem;   
}
.leftUI {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0.7%;
}
#darkModeButton {
    background-color: transparent;
    border: none;
}

#modelButton {
    background-color: transparent;
    border: none;
}
#credentialsButton {
    background-color: transparent;
    border: none;
}

#battleFrame {
    background-size: contain;
    width: 80rem;
    height: 40rem;
    margin: auto;
    border-radius: 2rem;
    border: 0.2rem solid white;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 40rem;
}

.fight {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;

}

#chars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 306px;
}

#enemyType {
    grid-column-start: 3;
    height: 306px;
}

h3 {
    font-family: 'Press Start 2P';
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-decoration: underline 2px;
}

.textArea {
    resize: none;
}

.bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
#attack, #block {
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.534);
}
.pHP,
.eHP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.7rem;
    margin: 0;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.534);
    font-size: 10px;
    text-align: center;
    height: 5rem;
    width: 20rem;
}

.pHP {
    grid-column-start: -4;
    font-family: 'Press Start 2P';

}
.eHP {
    font-family: 'Press Start 2P';
}
#enemyName, #playerName {
    background-color: transparent;
    border: none;
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 20px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#enemyHP, #playerHP {
    background-color: transparent;
    border: none;
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 20px;
}

.eHP p, .pHP p {
    margin-top: 0;
    margin-bottom: 0;
}

#result {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.playerAction {
    display: flex;
    flex-direction: column;
    width: 4rem;
}

#actionBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 1rem;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
#wins, #loses {
    font-family: 'Press Start 2P';
    text-align: center;
    background-color: transparent;
    border: none;
}
#battleRecap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 95%;
    height: 95%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(255, 255, 255, 0.534);
}
.unusedImage {
    display: none;
    height: 0%;
}
.cajaTexto {
    background-color: transparent;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#printRecap {
    text-align: center;
}

.actionButton {
    display: flex;
    gap: 1.5rem;

}

.difficultyBar {
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgba(255, 255, 255, 0.534);
}

.winrate {
    grid-column-start: 2;
    grid-row-start: 1 ;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.winrateInner {
    background-color: rgba(255, 255, 255, 0.534);
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 1rem;
}